<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for macetas in material %}
    
    <p> Nombre: {{macetas.nombre}}</p>
    <p> Modelo: {{macetas.modelo}}</p>

    <button>
        <a href="{% url 'MacetaEditar' macetas.nombre %}"> Editar Maceta</a>
        
    </button>
 
    <button>
        <a href="{% url 'MacetaEliminar' macetas.nombre %}"> Eliminar Maceta</a>

    </button>    

    ###################################

    {% endfor %}

    <br>
    <button>
    <a href="{% url 'MacetasCrear' %}"> Crear Maceta</a>
    </button>


</body>
</html>